/*=============================================
=            Footer            =
=============================================*/

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.footer h3 {
  /* font-size: 1.5rem; */
  margin-bottom: 0.5rem;
}

.footer a {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  transition-property: color;
  transition-duration: 0.4s;
}

.footer a:hover {
  color: rgba(0, 0, 0, 0.8);
}

/*=====  End of Footer  ======*/
