/*=============================================
=            Section General styles            =
=============================================*/
body {
  margin: 0;
  height: 100vh;
  color: var(--clr-dark);
  background: var(--clr-body-light);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-rendering: optimizeLegibility; */
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

img {
  display: block;
  max-width: 100%;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

/* Paddings */

main {
  margin-top: var(--main-padding-top);
}

/*=====  End of Section General styles  ======*/
